!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "Dr. Thomas Sonntag", :name => "author"}
    %title sonntagsbox

    / Bootstrap core CSS
    %link{:crossorigin => "anonymous", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :rel => "stylesheet"}

    / Bootstrap core js
    %script{:crossorigin => "anonymous", :integrity => "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", :src => "https://code.jquery.com/jquery-3.4.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}
    :css
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  %link{href: "/stylesheets/user.css", rel: "stylesheet"}
  %body.pt-5
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{href: "index.html"} sonntagsbox
      %button.navbar-toggler{"aria-controls" => "navbarsId", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{href: "/koffein/reaktion.html"}
              reaktion
          %li.nav-item
            %a.nav-link{href: "/koffein/farben.html"}
              farben
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", :role => "button"}
              KAG
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %a.dropdown-item{href: "/kag/5b/index.html"} Klasse 5b
              /.dropdown-divider
              %a.dropdown-item{href: "/kag/q2/index.html"} Q2


          /%li.nav-item
          /  %a.nav-link{href: "5b.html"}
          /    5b 

    %main.container{:role => "main", style: "min-height: 1000px"}
      .pt-5
        = yield


    %footer
      %a.nav-link.float-right.tiny-font{href: "impressum.html"}
        Impressum

