.my-unit
  %h2
    Hallo 5b
    != "&#x1F600;"
  %p

.my-unit

%ul.list-unstyled
  %li.media
    %img{src: "5b/Panorama.JPG", alt: "5b face", height: "240", width: "1000"}

  %p

  %li.media
    %a.mr-3{href: "5b/Grussandie5b_1.pdf"}
      Gruß 20.3.2020

  %li.media
    %a.mr-3{href: "5b/Grussandie5b_2.pdf"}
      Gruß 25.3.2020

  %li.media
    %a.mr-3{href: "5b/Gruss2Caesar.pdf"}
      .ml-3
        Die Caesarscheibe

  /%li.media
  /  %a.mr-3{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
  /    Extremwertprobleme - Lehrervortrag SON

  /%li.media
  /  %a.mr-3{href: "q2/Extremwertaufgaben_mit_funktionaler_Nebenbedingung.pdf"}
  /    Extremwertprobleme - Beispielaufgaben

  /%li.media
  / %video.mr-3{width: "400", height: "300", controls: ""}
  /   %source{ src: "IMG_1740.MOV", type: "video/mp4"}
  / .media-body
  /   %h5.mt-0.mb-1 20. März 2020
  /   Grüße


