.my-unit
  %h2 Hallo Q2
  %p

.my-unit

%ul.list-unstyled
  %li.media
    %a.mr-3{href: "q2/Mathe_Abi_Vorgaben_2020_standardsicherung.png"}
      Abivorgaben 2020

  %li.media
    %a.mr-3{href: "q2/Kompetenzuebersicht_Abi_2020_SON.pdf"}
      Kompetenzübersicht SON

  %li.media
    %a.mr-3{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
      Extremwertprobleme - Lehrervortrag SON

  %li.media
    %a.mr-3{href: "q2/Extremwertaufgaben_mit_funktionaler_Nebenbedingung.pdf"}
      Extremwertprobleme - Beispielaufgaben

  %p
  %li
    %h5 Buch S.284 Aufgabe 10
    .row
      .col
        %video{width: "360", height: "200", controls: ""}
          %source{ src: "q2/BuchSeite284A10_1.mp4", type: "video/mp4"}
        Teil 1

      .col
        %video{width: "360", height: "200", controls: ""}
          %source{ src: "q2/BuchSeite284A10_2.mp4", type: "video/mp4"}
        Teil 2

      .col
        %a{href: "q2/BuchSeite284A10_Loesung.pdf"}
          Lösung (pdf)
