= javascript_include_tag 'reaktion'

.my-unit
  %h2 Miss Deine Reaktion
  %p

.my-unit
  .row
    #elm

:javascript
   var app = Elm.Reaktion.init({
             node: document.getElementById('elm')
         });
