.my-unit
  %h2
    Hallo 5b
    != "&#x1F600;"
  %p
  %img{src: "/kag/5b/Panorama.JPG", alt: "5b Klassenzimmer", height: "240", width: "1000"}


%ul.list-unstyled
  %p

  %h5 Grüße

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-03-20.pdf"}
      20.3.2020

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-03-25.pdf"}
      25.3.2020

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-03-27.pdf"}
      27.3.2020
    %a.ml-3{href: "/kag/5b/gruss/2020-03-27_pptx_mit_film.pptx"}
      (mit Video)

  %li
    %a.new.ml-3{href: "/kag/5b/gruss/2020-04-01.pdf"}
      01.4.2020
    %a.new.ml-3{href: "/kag/5b/gruss/2020-04-01_pptx_mit_film.pptx"}
      (mit Video)
  %br
  %h5
    Wochenpläne
  %li
    %a.ml-3{href: "/kag/5b/wochenplaene/2020-03-16.pdf"}
      16.03.2020 - 20.03.2020
  %li
    %a.ml-3{href: "/kag/5b/wochenplaene/2020-03-23.pdf"}
      23.03.2020 - 27.03.2020
  %li
    %a.new.ml-3{href: "/kag/5b/wochenplaene/2020-03-30.pdf"}
      30.03.2020 - 03.04.2020

  %br
  %h5
    Wie läuft das Lernen ?
  %li
    %a.ml-3{href: "/kag/5b/Umfrageergebnisse_5b_26032020.pdf"}
      Umfrageergebnisse 26.03.2020

  %br
  %h5
    Rätsel und Knobeleien
  %li
    %a.ml-3{href: "/kag/5b/raetsel/Vogelraetsel.pdf"}
      Vogel-Kreuzworträtsel

  %li
    %a.ml-3{href: "/kag/5b/raetsel/Hunderaetsel.pdf"}
      Hunde-Kreuzworträtsel

  %li
    %a.ml-3{href: "/kag/5b/raetsel/caesarscheibe.pdf"}
      Die Cäsarscheibe

  %li
    %a.ml-3{href: "/kag/5b/raetsel/erklaervideo.mp4"}
      Erklärvideo zur Cäsarverschlüsselung (8 min)

  %li
    %a.ml-3{href: "/kag/5b/raetsel/offermann1.png"}
      Rätsel 1 von Frau Offermann

  %li
    %a.ml-3{href: "/kag/5b/raetsel/offermann2.png"}
      Rätsel 2 von Frau Offermann


  %br
  %h5
    Einladung zum Malwettbewerb
  %li
    .ml-3
      %a.mr-3{href: "/kag/5b/Malwettbewerb Haus der Natur Bonn.pdf"}
        Hier entlang...

  %br
  %h5
    Eure Bilder
  %li
    .ml-3
      Max
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Max.jpg"}
        (1)
      %a.new.mr-3{href: "/kag/5b/eure_bilder/Hundekrokodil_Max.jpg"}
        (2)
  %li
    .ml-3
      Jannis
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Jannis.jpg"}
        (1)
      %a.new.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Jannis_2.jpg"}
        (2)
      %a.new.mr-3{href: "/kag/5b/eure_bilder/Hundekrokodil_Jannis.jpg"}
        (3)
      %a.new.mr-3{href: "/kag/5b/eure_bilder/Hundekrokodil_Jannis_2.jpg"}
        (4)
  %li
    .ml-3
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Marc.jpg"}
        Marc
  %li
    .ml-3
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Summer.jpg"}
        Summer
  %li
    .ml-3
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_KlaraN.jpg"}
        Klara N
  %li
    .ml-3
      %a.new.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Tamino.jpg"}
        Tamino



  %li
    .ml-3
      .mr-3{href: "/kag/5b"}
        Hier könnte dein Bild stehen
        = "&#128579"
  /%li
  /  %a.mr-3{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
  /    Extremwertprobleme - Lehrervortrag SON

  /%li
  /  %a.mr-3{href: "q2/Extremwertaufgaben_mit_funktionaler_Nebenbedingung.pdf"}
  /    Extremwertprobleme - Beispielaufgaben

  /%li
  / %video.mr-3{width: "400", height: "300", controls: ""}
  /   %source{ src: "IMG_1740.MOV", type: "video/mp4"}
  / -body
  /   %h5.mt-0.mb-1 20. März 2020
  /   Grüße


