.my-unit
  %h2
    Hallo 5b
    != "&#x1F600;"
  %p
  %img{src: "/kag/5b/Panorama.JPG", alt: "5b Klassenzimmer", height: "240", width: "1000"}


%ul.list-unstyled
  %p

  %h5 Grüße

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-03-20.pdf"}
      20.3.2020

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-03-25.pdf"}
      25.3.2020

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-03-27.pdf"}
      27.3.2020
    %a.ml-3{href: "/kag/5b/gruss/2020-03-27_pptx_mit_film.pptx"}
      (mit Video)

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-04-01.pdf"}
      01.4.2020
    %a.ml-3{href: "/kag/5b/gruss/2020-04-01_pptx_mit_film.pptx"}
      (mit Video)

  %li
    %a.ml-3{href: "/kag/5b/gruss/2020-04-03.pdf"}
      03.4.2020
    %a.ml-3{href: "/kag/5b/gruss/2020-04-03_pptx_mit_film.pptx"}
      (mit Video)
  %br
  %h5
    Wochenpläne
  %li
    %a.ml-3{href: "/kag/5b/wochenplaene/2020-03-16.pdf"}
      16.03.2020 - 20.03.2020
  %li
    %a.ml-3{href: "/kag/5b/wochenplaene/2020-03-23.pdf"}
      23.03.2020 - 27.03.2020
  %li
    %a.ml-3{href: "/kag/5b/wochenplaene/2020-03-30.pdf"}
      30.03.2020 - 03.04.2020
  %li
    %a.ml-3.new{href: "/kag/5b/wochenplaene/2020-04-20.pdf"}
      20.04.2020 - 24.04.2020

  %br
  %h5
    Mathematik
  %li
    %a.ml-3.new{href: "/kag/5b/mathe/schriftlicheDivision_Station_1.pdf"}
      Station 1: Schriftliche Division -  das Verfahren
  %li
    %a.ml-3.new{href: "/kag/5b/mathe/schriftlicheDivision_Station_2.pdf"}
      Station 2: Schriftliche Division - Vorsicht Falle !
  %li
    %a.ml-3.new{href: "/kag/5b/mathe/schriftlicheDivision_Station_3.pdf"}
      Station 3: Schriftliche Division mit Rest - Übungen

  %br
  %h5
    Deutsch
  %li
    %a.ml-3.new{href: "/kag/5b/deutsch/SatzbauSatzglieder_Station_1.pdf"}
      Station 1: Satzbau und Satzglieder - Sätze brauchen Ordnung
  %li
    %a.ml-3.new{href: "/kag/5b/deutsch/SatzbauSatzglieder_Station_2.pdf"}
      Station 2: Satzbau und Satzglieder - das Feldermodell
  %li
    %a.ml-3.new{href: "/kag/5b/deutsch/SatzbauSatzglieder_Station_3.pdf"}
      Station 3: Satzbau und Satzglieder - das Prädikat
  %li
    %a.ml-3.new{href: "/kag/5b/deutsch/SatzbauSatzglieder_Station_4.pdf"}
      Station 4: Satzbau und Satzglieder - das Objekt


  %br
  %h5
    Wie läuft das Lernen ?
  %li
    %a.ml-3{href: "/kag/5b/Umfrageergebnisse_5b_26032020.pdf"}
      Umfrageergebnisse 26.03.2020

  %br
  %h5
    Rätsel und Knobeleien
  %li
    %a.ml-3{href: "/kag/5b/raetsel/Vogelraetsel.pdf"}
      Vogel-Kreuzworträtsel

  %li
    %a.ml-3{href: "/kag/5b/raetsel/Hunderaetsel.pdf"}
      Hunde-Kreuzworträtsel

  %li
    %a.ml-3{href: "/kag/5b/raetsel/Meerestierraetsel.pdf"}
      Meerestier-Kreuzworträtsel

  %li
    %a.ml-3{href: "/kag/5b/raetsel/Waldtierraetsel.pdf"}
      Waldtier-Kreuzworträtsel

  %li
    %a.ml-3{href: "/kag/5b/raetsel/caesarscheibe.pdf"}
      Die Cäsarscheibe

  %li
    %a.ml-3{href: "/kag/5b/raetsel/erklaervideo.mp4"}
      Erklärvideo zur Cäsarverschlüsselung (8 min)

  %li
    %a.ml-3{href: "/kag/5b/raetsel/offermann1.png"}
      Rätsel 1 von Frau Offermann

  %li
    %a.ml-3{href: "/kag/5b/raetsel/offermann2.png"}
      Rätsel 2 von Frau Offermann


  %br
  %h5
    Einladung zum Malwettbewerb
  %li
    .ml-3
      %a.mr-3{href: "/kag/5b/Malwettbewerb Haus der Natur Bonn.pdf"}
        Hier entlang...

  %br
  %h5
    Eure Bilder
  %li
    .ml-3
      Fabian
      %a.mr-3{href: "/kag/5b/eure_bilder/Hundekrokodil_Fabian.jpg"}
        (1)
  %li
    .ml-3
      Jannis
      %a{href: "/kag/5b/eure_bilder/Loewenspatz_Jannis.jpg"}
        (1)
      %a{href: "/kag/5b/eure_bilder/Loewenspatz_Jannis_2.jpg"}
        (2)
      %a{href: "/kag/5b/eure_bilder/Hundekrokodil_Jannis.jpg"}
        (3)
      %a{href: "/kag/5b/eure_bilder/Hundekrokodil_Jannis_2.jpg"}
        (4)
      %a{href: "/kag/5b/eure_bilder/Clownfischpferdchen_Jannis.jpg"}
        (5)
      %a{href: "/kag/5b/eure_bilder/Hirschfledermaus_Jannis.jpg"}
        (6)
  %li
    .ml-3
      Jonas
      %a.mr-3{href: "/kag/5b/eure_bilder/Hundekrokodil_Jonas.jpg"}
        (1)
  %li
    .ml-3
      Klara N
      %a{href: "/kag/5b/eure_bilder/Loewenspatz_KlaraN.jpg"}
        (1)
      %a{href: "/kag/5b/eure_bilder/Krokodilhund_KlaraN.jpg"}
        (2)
  %li
    .ml-3
      Leo
      %a.mr-3{href: "/kag/5b/eure_bilder/Hundekrokodil_Leo.jpg"}
        (1)
  %li
    .ml-3
      Marc
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Marc.jpg"}
        (1)
  %li
    .ml-3
      Marian
      %a.mr-3{href: "/kag/5b/eure_bilder/Loewenspatz_Marian.jpg"}
        (1)
  %li
    .ml-3
      Max
      %a{href: "/kag/5b/eure_bilder/Loewenspatz_Max.jpg"}
        (1)
      %a{href: "/kag/5b/eure_bilder/Hundekrokodil_Max.jpg"}
        (2)
      %a{href: "/kag/5b/eure_bilder/Clownfischpferdchen_Max.png"}
        (3)
      %a{href: "/kag/5b/eure_bilder/Hirschfledermaus_Max.jpg"}
        (4)
  %li
    .ml-3
      Summer
      %a{href: "/kag/5b/eure_bilder/Loewenspatz_Summer.jpg"}
        (1)
      %a{href: "/kag/5b/eure_bilder/Hundekrokodil_Summer.jpg"}
        (2)
  %li
    .ml-3
      Tamino
      %a{href: "/kag/5b/eure_bilder/Loewenspatz_Tamino.jpg"}
        (1)
      %a{href: "/kag/5b/eure_bilder/Hundekrokodil_Tamino.jpg"}
        (2)

  %li
    .ml-3
      .mr-3{href: "/kag/5b"}
        Hier könnte dein Bild stehen
        = "&#128579"
  %li
    .ml-3
      %a.mr-3{href: "/kag/5b/eure_bilder/Schuettelreime_04042020.pdf"}
        Schüttelreime
        

  /%li
  /  %a.mr-3{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
  /    Extremwertprobleme - Lehrervortrag SON

  /%li
  /  %a.mr-3{href: "q2/Extremwertaufgaben_mit_funktionaler_Nebenbedingung.pdf"}
  /    Extremwertprobleme - Beispielaufgaben

  /%li
  / %video.mr-3{width: "400", height: "300", controls: ""}
  /   %source{ src: "IMG_1740.MOV", type: "video/mp4"}
  / -body
  /   %h5.mt-0.mb-1 20. März 2020
  /   Grüße


