= javascript_include_tag 'farben'

%div
  %h2 Welche Farbe hat das Wort ?
  %p

%div
  .row
    #elm

:javascript
   var app = Elm.Farben.init({
             node: document.getElementById('elm')
         });
