= javascript_include_tag 'reaktion'

%div
  %h2 Miss Deine Reaktion
  %p

%div
  .row
    #elm

:javascript
   var app = Elm.Reaktion.init({
             node: document.getElementById('elm')
         });
