.my-unit
  %h2
    Hallo Q2
    %img{src: "/kag/duck.png", alt: "Quietscheentchen"}
  %p

%ul.list-unstyled
  %li
    %h5 Abiturvorbereitung
    %a.mr-3{href: "/kag/q2/Mathe_Abi_Vorgaben_2020_standardsicherung.png"}
      Abivorgaben 2020
    %br
    %a.mr-3{href: "/kag/q2/Kompetenzuebersicht_Abi_2020_SON.pdf"}
      Kompetenzübersicht SON
    %br
    %a.mr-3{href: "/kag/q2/Themenuebersicht_ebook.pdf"}
      Ihre Themenübersichten

    %br
  %li
    %h6.my-2.ml-3
      Abi 3. Fach
    %a.ml-3{href: "/kag/q2/Abiturvorbereitung_Fach3.pdf"}
      Tabelle Training
  %li
    %h6.my-2.ml-3
      Abi 4. Fach
    %a.new.ml-3{href: "/kag/q2/muendlichesAbitur_Hinweise_SON.pdf"}
      Hinweise zur mündlichen Prüfung
    %br
    %a.new.ml-3{href: "/kag/q2/Abiturvorbereitung_Fach4.pdf"}
      Tabelle Training
    %br
    %a.ml-3{href: "/kag/q2/Graphen_grob_SON.pdf"}
      Graphen grob skizzieren
    %br
    %a.ml-3{href: "/kag/q2/Abipruefung_KCH.pdf"}
      1. Prüfungsteil - Beispiel von Frau Koch
    %br
    %a.ml-3{href: "/kag/q2/Training_muendlichesAbi_Teil2_Analysis.pdf"}
      2. Prüfungsteil - Beispielaufgaben von Frau Sonntag
      %a.new.ml-3{href: "/kag/q2/Training_muendlichesAbi_Teil2_Analysis.pdf"}
        (Lösungen und Kommentar)
    %br
  %li
    %h6.my-2.ml-3
      Abi 3./4. Fach
    %a.ml-3{href: "/kag/q2/InterpretierenimKontext_SON.pdf"}
      Interpretieren im Kontext - Aufgaben
    %br
    %a.ml-3{href: "/kag/q2/InterpretierenimKontext_L_SON.pdf"}
      Interpretieren im Kontext - Lösungen
    %br
    %a.ml-3{href: "/kag/q2/Analysis_FragenAnsaetze_AB.pdf"}
      Wiederholung Analysis: Fragen und Ansätze - Arbeitsblatt
    %br
    %a.ml-3{href: "/kag/q2/Analysis_FragenAnsaetze_AB_Loesungen.pdf"}
      Wiederholung Analysis: Fragen und Ansätze - Lösungen
 
  %br
  %li
    %h5 Extremwertprobleme
    %a{href: "/kag/q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
      Lehrervortrag SON

  %br
  %li
    %h5 Buch S.284 Aufgabe 10:
    %a{href: "/kag/q2/284_A10/1.mp4"}
      Erklärvideo (Teil 1)
    %br
    %a{href: "/kag/q2/284_A10/2.mp4"}
      Erklärvideo (Teil 2)
    %br
    %a{href: "/kag/q2/284_A10/Loesung.pdf"}
      Lösung (pdf)

  %p
  %li
    %h5 Buch S.284 Aufgabe 11:
    %a{href: "/kag/q2/284_A11/Loesung_ebook.pdf"}
      Lösung (pdf)

  %p
  %li
    %h5 Buch S.285 Aufgabe 15:
    %a{href: "/kag/q2/285_A15/480.mp4"}
      Erklärvideo
    %br
    %a{href: "/kag/q2/285_A15/Loesung.pdf"}
      Lösung (pdf)
  %p
  %li
    %h5 Gerade senkrecht auf Ebene
    %a.new{href: "/kag/q2/GeradesenkrechtaufEbene_Teil1_fast.mp4"}
      Erklärvideo Teil 1 /
    %a.new{href: "/kag/q2/GeradesenkrechtaufEbene_Teil2_fast.mp4"}
      Teil 2
    .new
      (sollte jetzt aber wirklich funktionieren)
    %br
    %a{href: "/kag/q2/Loesung_Erklaervideo_AbstandAvonE.jpg"}
      Lösung zum Erklärvideo
    %br
    %a{href: "/kag/q2/gsenkrechtaufE_Uebungen_SON_ebook.pdf"}
      Aufgaben mit Kontrolllösungen

  /%li
  / %video.mr-3{width: "400", height: "300", controls: ""}
  /   Erklärvideo
  /   %source{ src: "/kag/q2/Gerade_senkrecht_auf_ebene.mp4", poster: "POSTER", type: "video/mp4"}
  / %body
  /   %h5.mt-0.mb-1 
  /     Test


  /%video{width: "360", height: "200", controls: ""}
  /  %source{ src: "/kag/q2/BuchSeite284A10_2.mp4", type: "video/mp4"}
  /Teil 2

  /    .col
  /      %a{href: "/kag/q2/BuchSeite284A10_Loesung.pdf"}
  /        Lösung (pdf)
