.my-unit
  %h2
    Hallo 5b
    != "&#x1F600;"
  %p

.my-unit

%ul.list-unstyled
  %li
    %img{src: "5b/Panorama.JPG", alt: "5b face", height: "240", width: "1000"}

  %p

  %h5 Grüße

  %li
    %a.mr-3{href: "5b/Gruss5b_1_ebook.pdf"}
      Gruß 20.3.2020

  %li
    %a.mr-3{href: "5b/Gruss5b_2_ebook.pdf"}
      Gruß 25.3.2020

  %li
    %a.ml-3{href: "5b/Gruss2Caesar.pdf"}
      Die Caesarscheibe

  %li
    Gruß 27.3.2020

  %li
    %a.ml-3{href: "5b/Gruss5b_3_ebook.pdf"}
      (pdf)
    %a.ml-3{href: "5b/Gruss5b_3_mit_Film.pptx"}
      (Powerpoint)

  %br
  %h5
    Wie läuft das Lernen ?
  %li
    %a.ml-3{href: "5b/Umfrageergebnisse_5b_26032020.pdf"}
      Umfrageergebnisse 26.3.2020

  %br
  %h5
    Rätsel und Knobeleien
  %li
    %a.ml-3{href: "5b/Vogelraetsel.pdf"}
      Vogel-Kreuzworträtsel

  %br
  %h5
    Einladung zum Malwettbewerb
  %li
    .ml-3
      %a.mr-3{href: "5b/Malwettbewerb Haus der Natur Bonn.pdf"}
        Hier entlang...

  %br
  %h5
    Eure Bilder
  %li
    .ml-3
      %a.mr-3{href: "5b/Loewenspatz.jpg"}
        Max




  /%li
  /  %a.mr-3{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
  /    Extremwertprobleme - Lehrervortrag SON

  /%li
  /  %a.mr-3{href: "q2/Extremwertaufgaben_mit_funktionaler_Nebenbedingung.pdf"}
  /    Extremwertprobleme - Beispielaufgaben

  /%li
  / %video.mr-3{width: "400", height: "300", controls: ""}
  /   %source{ src: "IMG_1740.MOV", type: "video/mp4"}
  / -body
  /   %h5.mt-0.mb-1 20. März 2020
  /   Grüße


