.my-unit
  %h2
    Hallo Q2
    != "&#x1F600;"
  %p

.my-unit

%ul.list-unstyled
  %li
    %a.mr-3{href: "q2/Mathe_Abi_Vorgaben_2020_standardsicherung.png"}
      Abivorgaben 2020

  %li
    %a.mr-3{href: "q2/Kompetenzuebersicht_Abi_2020_SON.pdf"}
      Kompetenzübersicht SON

  %li
    %a.mr-3{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
      Extremwertprobleme - Lehrervortrag SON

  %p
  %li
    %h6 Buch S.284 Aufgabe 10:
    %a{href: "q2/284_A10/1.mp4"}
      Erklärvideo (Teil 1)
    %br
    %a{href: "q2/284_A10/2.mp4"}
      Erklärvideo (Teil 2)
    %br
    %a{href: "q2/284_A10/Loesung.pdf"}
      Lösung (pdf)

  %p
  %li
    %h6 Buch S.285 Aufgabe 15:
    %a{href: "q2/285_A15/480.mp4"}
      Erklärvideo
    %br
    %a{href: "q2/285_A15/Loesung.pdf"}
      Lösung (pdf)

  %p
  %p
  %li
    %a.mr-3{href: "q2/Themenuebersichten_25032020_ebook.pdf"}
      Ihre Themenübersichten



  /%video{width: "360", height: "200", controls: ""}
  /  %source{ src: "q2/BuchSeite284A10_2.mp4", type: "video/mp4"}
  /Teil 2

  /    .col
  /      %a{href: "q2/BuchSeite284A10_Loesung.pdf"}
  /        Lösung (pdf)
