.my-unit
  %h2
    Hallo Q2
    %img{src: "duck.png", alt: "Quietscheentchen"}
  %p

.my-unit

%ul.list-unstyled
  %li
    %h5 Abiturvorbereitung
    %a.mr-3{href: "q2/Mathe_Abi_Vorgaben_2020_standardsicherung.png"}
      Abivorgaben 2020
    %br
    %a.mr-3{href: "q2/Kompetenzuebersicht_Abi_2020_SON.pdf"}
      Kompetenzübersicht SON
    %br
    %a.mr-3{href: "q2/Themenuebersicht_ebook.pdf"}
      Ihre Themenübersichten

    %br
  %li
    %h6.my-2.ml-3
      Abi 3.Fach
    %a.ml-3{href: "q2/Abiturvorbereitung_Fach3.pdf"}
      Tabelle Training
  %li
    %h6.my-2.ml-3
      Abi 4.Fach
    %a.ml-3{href: "q2/Abiturvorbereitung_Fach4_27032020.pdf"}
      Tabelle Training (vorläufig)
    %br
    %a.ml-3{href: "q2/Graphen_grob_SON.pdf"}
      Graphen grob skizzieren
    %br
    %a.ml-3{href: "q2/InterpretierenimKontext_SON.pdf"}
      Interpretieren im Kontext - Aufgaben
    %br
    %a.ml-3{href: "q2/InterpretierenimKontext_L_SON.pdf"}
      Interpretieren im Kontext - Lösungen
    %br
    %a.ml-3{href: "q2/Abipruefung_KCH.pdf"}
      1. Prüfungsteil - Beispiel von Frau Koch
    %br
    %a.ml-3{href: "q2/Training_muendlichesAbi_Teil2_Analysis.pdf"}
      2. Prüfungsteil - Beispielaufgaben von Frau Sonntag

  %br
  %li
    %h5 Extremwertprobleme
    %a{href: "q2/Extremwertprobleme_Lehrervortrag_SON.pdf"}
      Lehrervortrag SON

  %br
  %li
    %h5 Buch S.284 Aufgabe 10:
    %a{href: "q2/284_A10/1.mp4"}
      Erklärvideo (Teil 1)
    %br
    %a{href: "q2/284_A10/2.mp4"}
      Erklärvideo (Teil 2)
    %br
    %a{href: "q2/284_A10/Loesung.pdf"}
      Lösung (pdf)

  %p
  %li
    %h5 Buch S.284 Aufgabe 11:
    %a{href: "q2/284_A11/Loesung_ebook.pdf"}
      Lösung (pdf)

  %p
  %li
    %h5 Buch S.285 Aufgabe 15:
    %a{href: "q2/285_A15/480.mp4"}
      Erklärvideo
    %br
    %a{href: "q2/285_A15/Loesung.pdf"}
      Lösung (pdf)
  %p
  %li
    %h5 Gerade senkrecht auf Ebene
    %a{href: "q2/Gerade_senkrecht_auf_ebene.mp4"}
      Erklärvideo
    %br
    %a{href: "q2/Loesung_Erklaervideo_AbstandAvonE.jpg"}
      Lösung zum Erklärvideo
    %br
    %a{href: "q2/gsenkrechtaufE_Uebungen_SON_ebook.pdf"}
      Aufgaben mit Kontrolllösungen




  /%video{width: "360", height: "200", controls: ""}
  /  %source{ src: "q2/BuchSeite284A10_2.mp4", type: "video/mp4"}
  /Teil 2

  /    .col
  /      %a{href: "q2/BuchSeite284A10_Loesung.pdf"}
  /        Lösung (pdf)
